@import "~toastr/toastr.scss";
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
//@import "~tempusdominus-bootstrap-4/build/css/tempusdominus-bootstrap-4.min.css";
// Variables
@import "variables";
//Vue Modal
@import "modalstyle";
.no-decoration {
  text-decoration: none !important;
  color: inherit;
}
.form-inline-block{
  display: inline-block !important;
}
.toast-message{
   font-size: initial;
}

.breadcumb-top-img{
  animation: shake 0.5s;
  height: 40px;
}
.logo-login{
  max-width: 150px;
}
.sidebar .nav-link .nav-icon{
  height: 20px;
  width: 2rem;
}
.sidebar .nav-link .nav-icon-sub{
  height: 10px;
  width: 1.2rem;
}
.logo-header {
  height: 40px;
  @media screen and (max-width: 320px) {
    height: 40px;
  }
  @media screen and (min-width: 1200px) {
    height: 40px;
  }
}
.app-body {
  @media screen and (max-width: 900px) {
    margin-top: 0px;
  }
}

.img-thumb-profile{
  max-height: 200px;
}

.table-two-col tbody tr th{
  max-width:150px !important;
}
.pagination-center{
  justify-content: center;
}
.table-borderless th, .table-borderless td {
  border: 0 !important;
}

@import "~bootstrap-sass/assets/stylesheets/_bootstrap";

th.gap{
  height: 2px;
  background-color: $gray-lighter;
}

.panel-title{
  padding-left: 5px;
  font-weight: 800;
}

.logo-login{
  max-width: 150px;
}
.pagination-center{
  justify-content: center;
}

.list-group-item-hover:hover{
  background-color: $gray-lighter;
  cursor: pointer;
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: #00519b !important;
  border-color: #3097D1;
}
.invalid-feedback-inline-fix{
  z-index: 1;
  position: absolute;
}
.breadcrumb{
  background-color: transparent !important;
  margin: 0px !important;
  border: none;
}


@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}